.cu-input--submit, .cu-button {
  --cu-current-link-color: $black;

  border-width: 2px;
  border-style: solid;
  border-color: $cornell-red;
  padding: var(--cu-vr-4) var(--cu-ps-1);
  background: $white;
  display: inline-block;
  text-decoration: none;
}

.cu-fieldset {
  border: none;
  background: $gray-lightest;
  border: 1px solid $gray-light;
  border-radius: 3px;
  margin: 0 0 var(--cu-vr1);
}
