@import url('layout/default.css');
@import url('global/regions.css');
@import url('components/dropbutton.css');
@import url('components/breadcrumbs.css');
@import url('components/fields.css');
@import url('components/forms.css');
@import url('components/results.css');
@import url('components/tabs.css');
@import url('components/footer_nav.css');

:root {
  /* Color vars */
  --color-cornell-red: rgb(129, 27, 27);
  --color-cornell-red-bg: rgba(129, 27, 27, 0.1);
  --color-black: #222;
  --color-gray-lightest: #fbfbfb;
  --color-gray-medium: #ccc;
  --color-border: var(--color-gray-medium);
  --color-link: var(--color-cornell-red);
  --color-breadcrumbs: var(--color-link);

  /* Layout vars */
  --layout-display: block;
  --layout-max-width: 1264px;
  --layout-grid-column-gap: 2rem;
  --layout-grid-template-columns: 9fr 3fr;
  --layout-grid-template-rows: auto 1fr auto;
}

a {
  --cu-text-color: var(--color-link);
}

[class*="cu-"] p:not(.cu-message__text) {
  margin-top: revert;
}

#block-union-base-page-title .cu-heading {
  margin-top: .5em;
}
