.title--view-mode-teaser,
.title--view-mode-mini {
  font-size: large;
  font-weight: normal;
}

.field__label {
  margin: var(--cu-vr1) 0 0;
  font-weight: 400;
}

.field--label-inline {
  display: flex;
  gap: .5em;
}

.field--label-inline .field__label {
  margin: 0;
}

.field--label-inline .field__label::after {
  content: ': ';
}

.field__item {
  max-width: 800px;
}

.paragraph--type--counsel .field--name-field-attorneys {
  margin-left: 1em;
  font-size: 0.9em;
}

.compare {
  float: right;
}
