{% extends 'base.html.twig' %}

{% block title %}Legal Repositories{% endblock %}

{% block body %}
<div class="main">
    <h1>Legal Repositories</h1>
    <ul>
        <li><a href="/consentdecree">Title VII Class Action Consent Decree Repository</a></li>
        <li><a href="/ada-repository">The ADA Case Repository</a></li>
    </ul>
</div>
{% endblock %}
